#timer{
    position: fixed;
    top: 0px;
    left: 45%;
}

#bossGlitch {
    position: absolute;


    aspect-ratio: 1 / 1;

    margin-left: -min(368.5px, 45vw);
    margin-top: -min(368.5px, 45vw);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    pointer-events: none;
}

#bossSkullContainer {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#bossSkull {
    width: 100%;
    height: 100%;

    display: block;
    pointer-events: none;
}

#bossFight::before {
    content: "";

    position: absolute;
    inset: 0;

    background: #000;

    z-index: 9999;

    opacity: 1;
    transition: opacity 800ms ease;
}

#bossFight.boss-ending::before {
    opacity: 0;
    pointer-events: none;
}